<article>
	<header><h1>{{ include.title | default: page.title }}</h1></header>
	
	{% for category in site.categories %}
	  {% assign t = category | first %}
	  {% assign posts = category | last %}

	{{ t | downcase }}
	<ul>
	{% for post in posts %}
	  {% if post.categories contains t %}
	  <li>
	    <a href="{{ include.post.url | relative_url }}">{{ post.title }}</a>
	    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
	  </li>
	  {% endif %}
	{% endfor %}
	</ul>
	{% endfor %}
</article>
